<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.tanuj.session13assignment1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <receiver android:name="com.tanuj.session13assignment1.MainActivity" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />


            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>

    </application>

</manifest>
